@import url("friendlist.css");

#menu {
	position: absolute;
	background-color: black;
	color: white;
	top: 0%;
	left: 50%;
	width: fit-content;
	height: fit-content;
	pointer-events: auto;

	transform: translateX(-50%);
}

#menu>input {
	width: 4vh;
	text-align: center;
}

#menu>input:hover {
	color: black;
	background-color: white;
}

#quit-window {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4vh;
	width: 70vh;
	height: 30vh;
}

#quit-window .window-bar {
	font-size: 3.5vh;
}


#quit-window span {
	display: block;
	position: absolute;
	top: 20%;

	font-size: 4vh;
	width: 70vh;
	text-align: center;
}

#quit-window input {
	display: block;
	font-size: 4vh;
	width: 50%;
	text-align: center;
	padding: 2vh 0;
}

#quit-yes {
	position: absolute;
	bottom: 0%;
	left: 0%;
}

#quit-no {
	position: absolute;
	bottom: 0%;
	right: 0%;
}

#quit-window input:hover {
	color: black;
	background-color: white;
}



/*########################*/
/*	  PROFILE         */
/*########################*/

#profile-div {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	pointer-events: auto;
	transform: translate(-50%, -50%);
	background-color: black;
}

#avatar-image {
	width: 10vh;
	height: 10vh;
}

#stats-details>summary {
	background: black;
	color: white;
}

#stats-div {
	display: grid;
	width: 100%;
	background-color: yellow;
	height: 100%;

}

#stats-switch {
	top: 0%;
	left: 0%;
	grid-column: 0 / 1;
	grid-row: 1/ 2;
}

#stats-table {
	color: white;
	background-color: black;
	grid-column: 0 / 5;
	grid-row: 2/ 3;
	width: 100%;

}

#stats-history {
	color: white;
	background-color: black;
	grid-column: 5 / 10;
	grid-row: 2/ 3;
	width: 50%;
}

#stats-table>.window-content {
	width: 100%;
}

.player-stat {
	width: 100%;
	border-color: white;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 0.4vh;
}

.player-stat>div {
	display: inline-block;
	/*width: fit-content;*/
}

.player-stat>div:last-child {
	position: relative;
	/*position: absolute;*/
	right: 0;
	/*width: 10vh;*/
	text-align: center;
	border-color: white;
	border-style: solid;
	border-width: 0;
	border-left-width: 0.2vh;

}

.match-history {
	width: 100%;
	overflow: scroll;
}

.match-history>tbody>tr[win] {
	background-color: green;
}

.match-history>tbody>tr[lose] {
	background-color: red;
}

.match-history tr>th {
	text-align: left;
}

.match-history,
tr>td {
	text-align: center;
}

.match-history,
tr>td:last-child {
	text-align: right;
}

#username-text {
	color: black;
	background-color: white;
}

#friendlist-window {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40vh;
	height: 70vh;
	transform: translate(-50%, -50%);
	z-index: inherit;
}

#friendlist-window>.window-content {
	height: 100%;
}

#friendlist-window>.window-content span {
	display: block;
	width: 100%;
	border-bottom: 2px solid white;
}

#friendlist {
	height: 50%;
}

#friends-invite {
	height: 50%;
}

#friendlist-search-window {
	position: absolute;
	top: 70%;
	right: 10%;
	height: 40vh;
	transform: translate(-50%, -50%);
	z-index: inherit;
}

#security-window {
	position: absolute;
	top: 40%;
	left: 50%;
	display: block;
	width: 50%;
	text-align: center;
	padding: 2vh 0;
	transform: translate(-50%, -50%);
}

#window-2fa {
	position: absolute;
	top: 40%;
	left: 50%;
	display: block;
	width: 50%;
	padding: 2vh 0;
	transform: translate(-50%, -50%);

}
