#info {
	width: 100%;
	height: 100%;
}



#info-user-win {
	top: 20%;
	left: 5%;
	width: 40vh;
	height: 30vh;
	z-index: 1;
}

#info-user-submit {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 3vh;
	border: 0.3vh white solid;
}

#info-user-submit:hover {
	/* font-size: 3.1vh; */
	color: var(--window-background);
	background-color: var(--window-color)
}

#info-user-submit:active {
	border-color: blue;
}
