#players-window {
	display: inline-block;
	width: 100vh;
	height: 100vh;
	/*width: fit-content;*/
	overflow: scroll;
	pointer-events: auto;
}

#players-window>.window-bar {
	font-size: 3vh;
}

#players-window>table {
	display: inline-block;
	border-collapse: collapse;
	width: 100%;
	color: white;
}



#players-window th {
	padding-right: 2vh;
	padding-left: 0.5vh;
	text-align: left;
	color: white;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

#players-window>table {
	display: inline-block;
	border-collapse: collapse;
	font-weight: 100;
	letter-spacing: -0.4vh;
	font-size: 4vh;
	width: 100%;
	height: 50%;
	text-align: left;
}

#players-windw thead>td>th {
	padding-right: 2vh;
}

#players-window thead>tr>th:nth-child(2) {
	text-align: center;
}

#player-window thead th {
	position: sticky;
	top: 2.6vh;
	background-color: black;
}

.list-body>tr>td {
	color: white;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	padding-right: 2vh;
	padding-left: 0.5vh;
	text-overflow: "...";
	border-top: 0.1vh solid #ccc;
}

.list-body .username {
	text-align: left;
	min-width: 160%;
}

.list-body .status {
	text-align: center;
	min-width: 20%;
}

/**/
/* .list-body>tr:nth-child(1) { */
/* 	text-align: left; */
/* 	min-width: 80%; */
/* } */
/**/
/* .list-body>tr:nth-child(2) { */
/* 	text-align: center; */
/* } */

/*.list-body>tr:hover>td {*/
/*	color: black;*/
/*	background-color: white;*/
/*}*/

.list-body td[click]:hover {
	color: black;
	background-color: white;
}
