#players-window {
	display: inline-block;
	width: 50vh;
	height: 70vh;
	/*width: fit-content;*/
	overflow: scroll;
	pointer-events: auto;
}

/*#info-window>.window-footer>.button {*/
/*	background-color: var(--window-color);*/
/*	color: var(--window-background);*/
/*}*/

#lobby-id-copy.button {
	background-color: var(--window-color) !important;
	color: var(--window-background) !important;
	font-size: inherit;
}

#lobby-id-copy.button:hover {
	color: var(--window-color) !important;
	background-color: var(--window-background) !important;
}

#lobby-id-text {
	background-color: var(--window-color) !important;
	color: var(--window-background) !important;
}

#info-window {
	display: flex;
	flex-direction: column;
	/*display: inline-block;*/
	width: 85vh;
	height: 40vh;
	overflow: scroll;
	pointer-events: auto;
}

#invite-window {
	display: inline-block;
	width: 40vh;
	height: 60vh;
	overflow: scroll;
	pointer-events: auto;
	font-size: 5vh;
}

#invite-window>.window-bar {
	font-size: 5vh;
	user-select: none;
}

#info-window>.window-bar {
	/*align-self: flex-end;*/
	font-size: 5vh;
	user-select: none;
}

#info-window>.window-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-size: 5vh;
	user-select: none;
}

#info-window>.window-footer {
	display: flex;
	flex-direction: row;
	/*align-self: flex-start;*/
	flex-grow: 0;
	font-size: 5vh;
	user-select: none;
}

#info-window>.window-line {}

#players-window>.window-bar {
	font-size: 4vh;
	user-select: none;
}

#info-window>.window {
	display: flex;
	flex-direction: row;
}

#players-window>table {
	display: inline-block;
	border-collapse: collapse;
	width: 100%;
	color: white;
}



#players-window th {
	padding-right: 2vh;
	padding-left: 0.5vh;
	text-align: left;
	color: white;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

#players-window>table {
	display: inline-block;
	border-collapse: collapse;
	font-weight: 100;
	letter-spacing: -0.4vh;
	font-size: 4vh;
	width: 100%;
	height: 50%;
	text-align: left;
}

#players-window thead>td>th {
	padding-right: 2vh;
}

#players-window thead>tr>th:nth-child(2) {
	text-align: center;
}

#players-window thead th {
	position: sticky;
	top: 2.6vh;
	background-color: black;
}

.list-body>tr>td {
	color: white;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	padding-right: 2vh;
	padding-left: 0.5vh;
	text-overflow: "...";
	border-top: 0.1vh solid #ccc;
}

.list-body .username {
	text-align: left;
	min-width: 160%;
}

.list-body .status {
	text-align: center;
	min-width: 20%;
}

/**/
/* .list-body>tr:nth-child(1) { */
/* 	text-align: left; */
/* 	min-width: 80%; */
/* } */
/**/
/* .list-body>tr:nth-child(2) { */
/* 	text-align: center; */
/* } */

/*.list-body>tr:hover>td {*/
/*	color: black;*/
/*	background-color: white;*/
/*}*/

.list-body td[click]:hover {
	color: black;
	background-color: white;
}

#invite-list input {
	color: white;
	background-color: black;
	border: none;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	font-size: 4vh;
	width: 50%;
}

#invite-list input:hover {
	color: black;
	background-color: white;
	border-color: black;
}
