#stats-container {
	width: 200vh;
	height: 200vh;
}

#stats-container * {
	font-size: 5vh;
}

/*##########################################################*/

#stats-username-window {
	top: 10vh;
	left: 120vh;
	border-width: 0.15vh;
	min-width: 40vh;
	width: calc(fit-content + 4vh);
}

#stats-username-window>.window-content {
	height: 14vh;
}

#stats-username {
	position: absolute;
	top: 50%;
	left: 2vh;
	text-align: center;
	min-width: 36vh;
	height: 6vh;
	border-top: 0.2vh white solid;
	border-bottom: 0.2vh white solid;
	line-height: 6vh;
}

/*############################################################*/

#stats-table-window {
	top: 20vh;
	left: 10vh;
	width: 70vh;
	height: fit-content;
}

#stats-history-window {
	top: 60vh;
	left: 80vh;
	width: 80vh;
	height: 70vh;
}

.player-stat {
	width: 100%;
	border-color: white;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 0.4vh;
}

.player-stat>div {
	display: inline;
	width: fit-content;
}



.player-stat>div:last-child {
	position: absolute;
	right: 0vh;
	width: 10vh;
	text-align: center;
	border-color: white;
	border-style: solid;
	border-width: 0;
	border-left-width: 0.2vh;

}

.match-history {
	width: 100%;
	overflow: scroll;
}

.match-history>tbody>tr[win] {
	background-color: green;
}

.match-history>tbody>tr[lose] {
	background-color: red;
}

.match-history tr>th {
	text-align: left;
}

.match-history,
tr>td {
	text-align: center;
}

.match-history,
tr>td:last-child {
	text-align: right;
}
