@import url("font.css");
@import url("inputs.css");
@import url("popup.css");
@import url("loading.css");
@import url("notification.css");
@import url("friendlist.css");
@import url("main.css");
@import url("profile.css");

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: black;
	perspective: 1500px;
	transform-style: preserve-3d;
}

#camera {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	pointer-events: none;
	z-index: 0;
}


canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 0;
}

body * {
	font-family: var(--font-primary);
}

.hidden {
	display: none !important;
}

#fps {
	position: absolute;
	background-color: black;
	border: 2px solid red;
	text-align: center;
	font-size: 16px;
	color: white;
	bottom: 15px;
	left: 10px;
	width: 60px;
	height: 20px;
}

.frame-hover {
	width: auto;
	font-size: var(--font-size-verysmall);
	background-color: #A7CFA5;
	/*var(--color-space-deep);*/
	/* color: var(--color-lavender); */
	color: #a857fa;
	pointer-events: none;
	opacity: 1;
	pointer-events: none;
	text-align: right;
	font-family: var(--font-primary);
	font-weight: 500;
}


.frame {
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid;
	border-color: #88CF84;
	min-height: 10px;
	min-width: 10px;
	overflow: hidden;
	z-index: 2;

	box-shadow: 0 0 10px var(--color-purple-bright), 0 0 20px var(--color-purple-bright);
	background-color: rgba(114, 9, 183, 0.05);
	animation: pulse-glow 3s infinite;
	transition:
		top var(--transition-slow),
		left var(--transition-slow),
		width var(--transition-normal),
		height var(--transition-normal),
		box-shadow var(--transition-normal);
}

.frame:hover {
	mix-blend-mode: difference;
	border-color: white;
}

@keyframes pulse-glow {
	0% {
		box-shadow: 0 0 10px var(--color-purple-bright);
	}

	50% {
		box-shadow: 0 0 20px var(--color-purple-light);
	}

	100% {
		box-shadow: 0 0 10px var(--color-purple-bright);
	}
}


#utils-details {
	position: absolute;
	right: 0;
	top: 0;
	pointer-events: auto;
	z-index: 50;
	overflow: scroll;
	background-color: white;
	color: black;
}



input[type="number"] {
	max-width: 6vh;
	color: black;
	background-color: white;
}


.utils-details>div::before {
	display: inline-block;
	content: attr(name)": ";
	width: 20vh;
	overflow: scroll;
	white-space-collapse: preserve;
}

input[type="range"] {
	vertical-align: middle;
}

.already-open {
	color: white;
	display: inline-block;
}


.details-dark {
	background-color: #a0a0a0 !important;
}

.details-light {
	background-color: #c0c0c0 !important;
}
