/* ====================================
   LOBBY - Lobby-specific components
   ==================================== */

/* ====================================
   LOBBY - Lobby-info components
   ==================================== */
.lobby-info__title {
	text-align: right;
	color: var(--color-lavender);
	font-size: var(--font-size-small);
}

.lobby-info__container {
	flex: auto;
	overflow: scroll !important;
	pointer-events: all !important;
	border: var(--spacing-md) var(--color-purple-light) solid;
	padding: var(--spacing-sm);
	margin: var(--spacing-md);
	background-color: rgba(93, 64, 112, 0.2);
	border-left-style: none;
	border-right-style: none;
	color: var(--color-lavender) !important;
	font-size: var(--font-size-small) !important;
}

.lobby-info__footer {
	flex: auto;
	display: flex;
	border: var(--spacing-xs) var(--color-purple-light) solid;
	margin: var(--spacing-md);
	margin-top: var(--spacing-lg);
	background-color: rgba(157, 78, 221, 0.2);
	font-size: var(--font-size-verysmall) !important;
}

.lobby-info__content {
	flex: auto;
	height: fit-content;
	font-size: var(--font-size-small);
	border: var(--spacing-xs) var(--color-purple-light) solid;
	margin: var(--spacing-md);
	background-color: rgba(157, 78, 221, 0.2);
}

.lobby-info__button {
	font-size: var(--font-size-verysmall);
	flex: auto;
	background-color: var(--color-space-deepest);
	color: var(--color-lavender);
	border: none;
}

.lobby-info__button:hover {
	background-color: var(--color-lavender);
	color: var(--color-space-deepest);
}

.lobby-info__button:active {
	background-color: var(--color-space-deepest);
	color: var(--color-lavender);
}


/* ====================================
   LOBBY - Lobby-players
   ==================================== */

.lobby-players__title {
	text-align: right;
	color: var(--color-lavender);
	font-size: var(--font-size-small);
}

.lobby-players__container {
	flex: auto;
	height: 90% !important;
	overflow: scroll !important;
	pointer-events: all !important;
	border: var(--spacing-xxs) var(--color-purple-light) solid;
	padding: var(--spacing-sm);
	margin: var(--spacing-md);
	background-color: rgba(93, 64, 112, 0.2);
	border-left-style: none;
	border-right-style: none;
}

.lobby-players__content {
	display: flex;
	flex: auto;
	height: fit-content;
	font-size: var(--font-size-small);
	border: var(--spacing-xs) var(--color-purple-light) solid;
	margin: var(--spacing-md);
}

.lobby-players__username {
	flex: 2;
	text-align: left;
	color: var(--color-lavender);
	overflow: hidden;
	/* background-color: rgba(224, 170, 255, 0.3); */
	background-color: var(--color-space-deepest);
}

.lobby-players__status {
	flex: 1;
	text-align: right;
}

.lobby-players__status[ready="true"] {
	color: var(--color-space-deepest);
	background-color: rgba(125, 255, 125, 0.3);
}

.lobby-players__status[ready="false"] {
	color: var(--color-space-deepest);
	background-color: rgba(255, 125, 125, 0.3);
}

/* ====================================
   LOBBY - Lobby-ready
   ==================================== */

.lobby-ready__container {
	margin: var(--spacing-xs);
}

.lobby-ready__container:before,
.lobby-ready__container:after,
.lobby-ready__container>:first-child:before,
.lobby-ready__container>:first-child:after {
	position: absolute;
	width: var(--spacing-lg);
	height: var(--spacing-lg);
	border-color: var(--color-purple-light);
	border-style: solid;
	content: ' ';
}

.lobby-ready__container:before {
	top: var(--spacing-xs);
	left: var(--spacing-xs);
	border-width: var(--spacing-sm) 0 0 var(--spacing-sm)
}

.lobby-ready__container:after {
	top: var(--spacing-xs);
	right: var(--spacing-xs);
	border-width: var(--spacing-sm) var(--spacing-sm) 0 0
}

.lobby-ready__container>:first-child:before {
	bottom: var(--spacing-xs);
	right: var(--spacing-xs);
	border-width: 0 var(--spacing-sm) var(--spacing-sm) 0
}

.lobby-ready__container>:first-child:after {
	bottom: var(--spacing-xs);
	left: var(--spacing-xs);
	border-width: 0 0 var(--spacing-sm) var(--spacing-sm)
}

.lobby-ready__button {
	pointer-events: all !important;
	font-size: var(--font-size-base);
	background-color: rgba(157, 78, 221, 0.2);
	color: var(--color-space-deepest);
	border: none;
}

.lobby-ready__button:hover {
	/* background-color: rgba(93, 64, 112, 0.2); */
	background-color: var(--color-space-deepest);
	color: var(--color-lavender);
}

.lobby-ready__button:active {
	background-color: rgba(157, 78, 221, 0.2);
	color: var(--color-space-deepest);
}

/* ====================================
   LOBBY - Lobby-invite
   ==================================== */

.lobby-invite__title {
	height: fit-content;
	text-align: right;
	color: var(--color-lavender);
	font-size: var(--font-size-small);
}

.lobby-invite__container {
	flex: 5;
	overflow: scroll !important;
	pointer-events: all !important;
	border: var(--spacing-sm) var(--color-purple-light) solid;
	padding: var(--spacing-sm);
	margin: var(--spacing-md);
	background-color: rgba(93, 64, 112, 0.2);
	border-left-style: none;
	border-right-style: none;
	color: var(--color-lavender) !important;
	font-size: var(--font-size-small) !important;
}

.lobby-invite__container>div {
	display: flex;
	flex: auto;
	height: fit-content;
	font-size: var(--font-size-small);
	margin: var(--spacing-md);
}

.lobby-invite__username {
	flex: 4;
	text-align: left;
	color: var(--color-lavender);
	overflow: hidden;
	background-color: rgba(224, 170, 255, 0.3);
	padding-left: var(--spacing-lg);
}

.lobby-invite__button {
	font-size: var(--font-size-small);
	flex: 1;
	background-color: var(--color-space-deepest);
	color: var(--color-lavender);
	border: none;
}

.lobby-invite__button:hover {
	background-color: var(--color-lavender);
	color: var(--color-space-deepest);
}

.lobby-invite__button:active {
	background-color: var(--color-space-deepest);
	color: var(--color-lavender);
}
