/*######################CREATE#################*/

#create-mod-window {
	width: 30vh;
	height: 20vh;
	top: 30%;
	left: 50%;
}

#create-mod-window>input {
	border: 0.2vh white solid;
	width: 46%;
	margin-left: 0.4vh;
	margin-top: 0.4vh;
	margin-right: 0.4vh;
}

/*######################JOIN###################*/
.a {
	width: fit-content;
}

.d {
	vertical-align: top;
	display: inline-block;
	white-space: nowrap;
	color: black;
	background-color: white;
	font-size: 2vh;
	font-family: monospace;
	margin-bottom: 10px;
	overflow: hidden;
	animation: typing 0.5s steps(20, end);
}

@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}


#play-join {
	width: 100%;
	height: 100%;
	font-size: 2vh;
}

#play-join>.sep {
	height: 1vh;
}

#join-input-container {
	height: 10vh;
	top: 40%;
	width: 30vh;
}

#join-id {
	position: relative;
	text-align: center;
	font-family: monospace;
	font-weight: normal;
	letter-spacing: unset;
	top: 40%;
	font-size: 2vh;
	width: 100%;
	transform: translateY(-50%);
	color: white;
	border-top: 0.1vh white solid;
	border-bottom: 0.1vh white solid;
}

#join-id::placeholder {
	color: #999;
}



#join-list-container {
	display: inline-block;
	top: 30%;
	left: 40%;
	height: 30vh;
	width: fit-content;
	overflow: scroll;
}

#join-list-container>table {
	display: inline-block;
	border-collapse: collapse;
	width: 100%;
	color: white;
}



#join-list th {
	padding-right: 2vh;
	padding-left: 0.5vh;
	text-align: left;
	color: white;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	max-width: 20vh;
}

#join-list {
	display: inline-block;
	border-collapse: collapse;
	font-weight: 100;
	letter-spacing: -0.4vh;
	font-size: 2vh;
	width: 100%;
	height: 50%;
	text-align: left;
}

#join-list>thead>td>th {
	padding-right: 2vh;
}

#join-list thead th {
	position: sticky;
	top: 2.55vh;
	background-color: black;
}

.list-body>tr>td {
	text-align: left;
	color: white;
	overflow: hidden;
	white-space: nowrap;
	max-width: 20vh;
	padding-right: 2vh;
	padding-left: 0.5vh;
	text-overflow: "...";
	border-top: 0.1vh solid #ccc;
}

.list-body>tr:hover>td {
	color: black;
	background-color: white;
}
