html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: black;
}

:root {
	touch-action: pan-x pan-y;
	height: 100%;
	width: 100%;
}

#fps {
	position: absolute;
	background-color: black;
	border: 2px solid red;
	text-align: center;
	font-size: 16px;
	color: white;
	bottom: 15px;
	left: 10px;
	width: 60px;
	height: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	/*border:inherit !important;*/
	/*-webkit-text-fill-color: inherit !important;*/
	/*-webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;*/
	transition: background-color 5000s ease-in-out 0s;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;

}



#main-container {
	width: 100%;
	height: 100%;
	display: block;
}




#menu {
	display: block;
	position: absolute;
	right: 20px;
	top: 0px;

	/*display: inline-block;*/
	/*width: 1%;*/
	margin: auto;
	overflow: visible;
	justify-content: right;
}

#menu-button {
	background-color: red;
	display: block;
}

#menu-dropdown {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: green;
	overflow: clip;
	justify-content: right;
}

#menu-dropdown a {
	display: block;
	color: white;
	justify-content: right;
}

#menu-dropdown a:hover {
	background-color: #ddd;
}

#menu:hover #menu-dropdown {
	display: block
}


div[disabled=true],
input[display=false],
select[display=false] {
	display: none;
}


body.modal-open {
	pointer-events: none;
}

body.modal-open .popup {
	pointer-events: auto;
}




#status[ok="false"] {
	background-color: #bf382e;
}

#status[ok="true"] {
	background-color: #67b320;
}

#status {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	width: 100%;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 30px;
}

.window {
	position: absolute;
	min-width: 100px;
	min-height: 100px;
	z-index: 0;
	margin: 0;
	overflow: scroll;
	top: 50%;
	left: 50%;
	border: 4px solid black;
}

.window:hover {
	resize: both;
	overflow: hidden;
}

.header {
	cursor: move;
	width: 100%;
	height: 20px;
	background-color: grey;
}

.content {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
