html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

:root {
	touch-action: pan-x pan-y;
	height: 100%;
	width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	/*border:inherit !important;*/
	/*-webkit-text-fill-color: inherit !important;*/
	/*-webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;*/
	transition: background-color 5000s ease-in-out 0s;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%; 
	display: block;
	z-index: -1;

}

/* span[delay] { */
/* 	opacity: 1; */
/* 	filter: blur(0); */
/* 	transition: */
/* 		opacity var(--delay, 0.3s) ease-out; */
/* 	animation: poptext var(--delay, 0.3s) ease 1; */
/* 	font-size: 100%; */
/* 	height: 100%; */
/* 	transform: scale(10); */
/**/
/* 	@starting-style { */
/* 		opacity: 0; */
/* 	} */
/* } */
/**/
/* @keyframes poptext { */
/* 	0% { */
/* 		transform: scale(0); */
/* 	} */
/**/
/* 	100% { */
/* 		transform: scale(1); */
/* 	} */
/* } */

/* *[delay]:not(.instant) { */
/* 	opacity: 1; */
/* 	filter: blur(0); */
/* 	transition: */
/* 		opacity var(--delay, 0.3s) ease-out, */
/* 		filter var(--delay, 0.3s) ease-out; */
/**/
/**/
/* 	@starting-style { */
/* 		opacity: 0; */
/* 		filter: blur(1px) */
/* 	} */
/* } */

#main-container {
	width: 100%;
	height: 100%;
	display: block;
	background-color: transparent;
}


/*#quit {*/
/*	position: absolute;*/
/*}*/

#menu {
	display: block;
	position: absolute;
	right: 20px;
	top: 0px;

	/*display: inline-block;*/
	/*width: 1%;*/
	margin: auto;
	overflow: visible;
	justify-content: right;
}

#menu-button {
	background-color: red;
	display: block;
}

#menu-dropdown {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: green;
	overflow: clip;
	justify: right;
	justify-content: right;
}

#menu-dropdown a {
	display: block;
	color: white;
	justify-content: right;
}

#menu-dropdown a:hover {
	background-color: #ddd;
}

#menu:hover #menu-dropdown {
	display: block
}

#home-container {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}

#stats {
	display: inline-block;
	box-sizing: border-box;
	height: 300px;
}

#stats-username {
	display: inline-block;
}

#stats-menu {
	display: inline-block;
	margin: auto;
	justify-content: right;
}

#stats-container {
	display: grid;
	height: 80%;
	overflow: hidden;
}

#stats-table {
	display: inline-block;
	grid-row: 1/1;
	grid-column: 1/2;
}

#stats-history {
	display: inline-block;
	grid-row: 1/1;
	grid-column: 2/2;
	overflow: scroll;
}


#home {
	background-color: teal;
}

#home-container {
	background-color: grey;
}

#info {
	background-color: gray;
}

#stats {
	background-color: purple;
}



/*#stats-menu {*/
/*	position: absolute;*/
/*}*/



div[disabled=true],
input[display=false],
select[display=false] {
	display: none;
}


body.modal-open {
	pointer-events: none;
}

body.modal-open .popup {
	pointer-events: auto;
}


.history[is_winner="0"] {
	background-color: red;
	color: white;
}

.history[is_winner="1"] {
	background-color: lime;
}



#status[ok="false"] {
	background-color: #bf382e;
}

#status[ok="true"] {
	background-color: #67b320;
}

#status {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	width: 100%;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 30px;
}


#log {
	width: 100%;
	height: 300px;
	background: #f4f4f4;
	padding: 10px;
	overflow-y: auto;
	white-space: pre-wrap;
	border: 1px solid #ccc;
	font-size: 12px;
}


/* #status { */
/* 	opacity: 1; */
/* 	transition: opacity 2s; */
/* } */

/* #status.fadeIn { */
/* 	opacity: 0; */
/* } */
